* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --brand-color: #EF5F4C; /* variavel */
  --background-color: #FFFFFF; /* variavel do background color */
  --surfarce-color: #F5F5F5; /* variavel do surface */
  --skeleton-color: #D9D9D9; /* variavel do skeleton */
  --shape-transparency: #ffffff8f; /* variavel da transparencia */
  --text-color-primary: #313131; /* variavel do texto primario */
  --text-color-secondary: #6C6C6C; /* variavel do texto secundario */
}

body {
  color: var(--text-color-secondary); /* dentro do parenteses vai a varial */ 
  background-color: var(--background-color); /* variavel do fundo da page */
}