* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* variavel */
  --brand-color: #EF5F4C; 
  /* variavel do background color */
  --background-color: #FFFFFF;
  /* variavel do surface */ 
  --surfarce-color: #F5F5F5; 
  /* variavel do skeleton */
  --skeleton-color: #D9D9D9; 
  /* variavel da transparencia */
  --shape-transparency: #ffffff8f;
  /* variavel do texto primario */ 
  --text-color-primary: #313131;
  /* variavel do texto secundario */
  --text-color-secondary: #6C6C6C; 
  /* variavel da font importada */
  --font-family: "Poppins", sans-serif; 
  /* variavel da font larga tendo tamanho da font definindo o line-heigth */
  --text-lg: bold 32px/125% var(--font-family);  
  /* variavel do texto tendo tamanho da font definindo o line-heigth 150% ou 1.5*/
  --text: 16px/150% var(--font-family);
  /* variavel da font do meio tendo tamanho da font definindo o line-heigth */
  --text-md: 14px/175% var(--font-family);
  /* variavel da font do small tendo tamanho da font definindo o line-heigth */
  --text-sm: 12px/175% var(--font-family);
  
}

body {
  /* variavel da font que vai na page */
  font: var(--text);
  /* dentro do parenteses vai a variavel */ 
  color: var(--text-color-secondary); 
  /* variavel do fundo da page */
  background-color: var(--background-color); 
}

a {
 /* nao vai ter uma decoracao */
 text-decoration: none;
 /* ter uma cor que venha da herança*/
 color: inherit;
}
 /* quando passar o mouse em cima */
a:hover{
  /*cor quando passar o mouse em cima */
  color: var(--brand-color);
  /* colocar um underline abaixo do texto quando passar o mouse */
  text-decoration: underline;
}
/* vai conter a nivel de projeto */
.container {
  /* vai definir o espaço nas laterais */
  padding-inline: 32px;
  /* largura maxima */
  max-width: 1280px;
  /* so vai ser mexido nas laterais ficando automatico */
  margin-inline: auto;
}
 /* variavel aplicada a div antes do nav para nao ter limitacao de tamanho */
.bg-surface-color {
  /* variavel do fundo do cabecalho onde esta a logo */
  background-color: var(--surfarce-color);
}